body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    background-color: aliceblue;
}
.app {
    display:grid;
    height: 100vh;
    gap:0.1rem;
    grid-template-columns: 38% 62%;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "head head"
                         "list detail";
}
@media only screen and (max-width:600px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 5fr;
        grid-template-areas: "head"
                            "list" 
                            "detail";
    }
}

.app > #head {
    grid-area: head;

    padding-bottom: 5px;
    border-bottom: groove;
}
.app > #list {
    grid-area: list;
    padding-bottom: 5px;
    border-bottom: groove;
}

.app > #detail {
    grid-area: detail;
    padding-top: 5px;
}

.mainMenu > button {
  margin:0;
  padding: 5px;
  font-size: inherit;
  background-color: aliceblue;
  border-style: outset;
  border-radius: 5px
}